
*{box-sizing: border-box;

}

  body{
  background-color: rgb(255,255, 255);
  margin:0;
  font-family: sans-serif;
}

nav a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s linear;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#header{
  height: 60%;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;


}
#main-navigation{
  display: none;
}

#burger{
  background: transparent;
  border: none;

}

#hero{
  background-image: url(img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}
#hero{
  font-size: 20px;
}
.button{
  color: #374a67;
  background:white;
  text-decoration: none;
  border: 2px #374a67 solid;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 1s;
  margin: 1rem;
  display: inline-block;
  }



@media (min-width: 960px) {
  #main-navigation{
display: block;
  }

#burger{
  display: none;
}

#main-navigation ul{
  display: flex;
  }

  nav li{
    margin-left:  1rem;
    margin-right: 1rem;
  }
  nav li:last-child{
    margin-right: 0;
  }

nav a:hover{
  color: #fcf003;
}
}
.button:hover{
  color: white;
  background: #374a67;



}
